In [42]:
import pandas as pd
import nltk

In [82]:
df=pd.read_csv('celeb2.csv')

In [83]:
df.head()

,Unnamed: 0,Customer_Name,Celebrity_des,Image
0,0,Aamir Khan,"eval(ez_write_tag([[728,90],'celebrities_galor...",https://www.celebrities-galore.com/celebrities...
1,1,Akshay Kumar,"eval(ez_write_tag([[728,90],'celebrities_galor...",https://www.celebrities-galore.com/celebrities...
2,2,Ajay Devgn,"Sorry, but the page you are trying to view doe...",NONE
3,3,Amjad Khan,Amjad Khan is a male celebrity.He was born on ...,NONE
4,4,Amitabh Bachchan,"eval(ez_write_tag([[728,90],'celebrities_galor...",https://www.celebrities-galore.com/celebrities...

In [84]:
#remove rows which do not have description
indexNames = df[ df['Celebrity_des'] == df.iloc[2]["Celebrity_des"] ].index

# Delete these row indexes from dataFrame
df.drop(indexNames , inplace=True)

In [85]:
clean_sentences = df["Celebrity_des"].str.replace("[^a-zA-Z]", " ")

In [86]:
nltk.download('stopwords')# one time execution

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\91902\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [87]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

In [88]:
# function to remove stopwords
def remove_stopwords(sen):
  sen_new = " ".join([i for i in sen if i not in stop_words])
  return sen_new

In [89]:
clean_sentences = [remove_stopwords(r.split()) for r in clean_sentences]

In [104]:
df1=pd.read_excel('traits.xlsx')

In [105]:
traits=df1['traits'].tolist()

for i in range(len(traits)):
    traits[i]=traits[i].lower().strip()

AttributeError: 'bool' object has no attribute 'lower'

In [93]:
personality_traits=[]
for each in clean_sentences:
    l=each.split()
    c=[]
    for word in l:
        if word in traits:
            c.append(word)
    personality_traits.append(c)

In [94]:
df["Personality_traits"]=personality_traits

In [95]:
df.head()

,Unnamed: 0,Customer_Name,Celebrity_des,Image,Personality_traits
0,0,Aamir Khan,"eval(ez_write_tag([[728,90],'celebrities_galor...",https://www.celebrities-galore.com/celebrities...,"[popular, dynamic, efficient, capable, dignifi..."
1,1,Akshay Kumar,"eval(ez_write_tag([[728,90],'celebrities_galor...",https://www.celebrities-galore.com/celebrities...,"[winning, understanding, balanced, romantic, f..."
3,3,Amjad Khan,Amjad Khan is a male celebrity.He was born on ...,NONE,"[understanding, balanced, romantic, faithful, ..."
4,4,Amitabh Bachchan,"eval(ez_write_tag([[728,90],'celebrities_galor...",https://www.celebrities-galore.com/celebrities...,"[impressive, upright, elegant, charismatic, ki..."
5,5,Amol Palekar,Amol Palekar is a Bollywood Actor and Director...,NONE,"[dynamic, efficient, capable, dignified, carin..."

In [96]:
finaldf=df[['Customer_Name','Image','Personality_traits']]

In [97]:
finaldf

,Customer_Name,Image,Personality_traits
0,Aamir Khan,https://www.celebrities-galore.com/celebrities...,"[popular, dynamic, efficient, capable, dignifi..."
1,Akshay Kumar,https://www.celebrities-galore.com/celebrities...,"[winning, understanding, balanced, romantic, f..."
3,Amjad Khan,NONE,"[understanding, balanced, romantic, faithful, ..."
4,Amitabh Bachchan,https://www.celebrities-galore.com/celebrities...,"[impressive, upright, elegant, charismatic, ki..."
5,Amol Palekar,NONE,"[dynamic, efficient, capable, dignified, carin..."
...,...,...,...
190,Vyjayanthimala,NONE,"[dynamic, efficient, capable, dignified, carin..."
191,Vidya Balan,https://www.celebrities-galore.com/celebrities...,"[strong, serious, studious, independent, digni..."
193,Waheeda Rehman,NONE,"[serious, studious, independent, dignified, re..."
195,Zeenat Aman,https://www.celebrities-galore.com/celebrities...,"[modern, understanding, balanced, romantic, fa..."
196,Zohra Sehgal,NONE,"[strong, impressive, kind, generous, kind, str..."

In [98]:
finaldf.to_csv("finaldata.csv")